* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--second-color);
}

html {
  font-size: 10px;
}

.body {
  background-color: var(--first-color);
  height: 100vh;
}

ul,
li {
  list-style: none;
}

.container {
  padding: 0 15px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}